/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1.15rem Arial, Helvetica, sans-serif;
}

/* Custom properties */
:root {
    /* Colors */
    --primary: #d87093;
    --secondary: #3161E0;
    --black: #000000;
    --white: #ffffff;
    --grey: #D3D3D3;
    --midnight-blue: #062481;
    --green: #228B23;
    --light-green: #7FFED4;
    --light-pink: #f8bce5;
    --pink: #F0807F;
    --gold: #daa520;

    /* sizes units */
    --xs: 500px;
    --md: 700px;
    --lg: 1000px;
    --xl: 1300px;
}

/* Color palette */
.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-gold {
    background-color: var(--gold);
}

.bg-green {
    background-color: var(--green);
}

.bg-light-green {
    background-color: var(--light-green);
}

.bg-dark-blue {
    background-color: var(--midnight-blue);
}

section {
    background-color: var(--white);
}

footer,
.per-parlare {
    background-color: #23272A;

}

.footer-navbar {
    background-color: #1FB2AA;
}

/* Utils */
.container {
    width: var(--xl);
}

.wrapper {
    width: var(--lg);
}

.container,
.col,
.wrapper {
    height: 100%;
}

.text-right {
    text-align: right;
}

.space-between {
    justify-content: space-between;
}


/* Spacing */
.gap-15 {

    gap: 15px;
}

.p-5 {
    padding: 5px;
}

.py-20 {
    padding: 20px 0;
}

.pt-30 {
    padding-top: 30px;

}

.py-50 {
    padding: 50px 0;
}

/* Layout */
.grow-1 {
    flex-grow: 1;
}

.col-30 {
    flex-basis: 30%;
}

.col-70 {
    flex-basis: 70%;
}

/* Sizes */
.h-80 {
    height: 80px;
}

/* Generics */
ul {
    list-style: none;
}

section {
    height: var(--md);
}

footer {
    border-top: solid 2px var(--grey);
}

/* Borders */
.col,
.streaming>div,
.wrapper {
    border: dashed 2px var(--black);
}


/* Flex */
.container,
section,
.jumbotrom,
.bottom-navbar,
.row {
    display: flex;

}

section,
.jumbotrom,
.row {
    justify-content: center;
}


/* Heading */
/* Top Navbar */
.navbar .col {
    flex-basis: calc(50% / 3);
}

.links a {
    text-decoration: none;
    color: var(--black);
}

/* Main section */
/* Jumbotrom */
.jumbotrom {
    height: var(--xs);
    border-bottom: 5px solid var(--light-pink);
}

/* Streaming */
.streaming {
    height: var(--lg);

}

/* Footer */
/*  Bottom Navbar */
.side-bar {
    flex-basis: calc(100% / 3);
    background-color: var(--pink);
}

.footer-navbar .col {
    flex-basis: calc(100% / 4);
    border-color: var(--white);
}