/* Reset */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
header {
    background-color: #3161E0;
    display: flex;
    height: 80px;
}

ul * {
    list-style: none;
    text-decoration: none;
}

/* Navigation bar */
#navigation-bar {
    display: flex;
    margin: auto;
    width: 1300px;
    background-color: goldenrod;
}

#navigation-bar>* {
    border: dashed black 2px;
    flex-grow: 1;
    padding: 5px;
}

#links {
    display: flex;
    flex-grow: 2;
    gap: 15px;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: flex-end;
}